includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 8

    ignoreErrors:
        - '#Cannot access property \$[a-zA-Z0-9\\_]+ on App\\Models\\Category\|null#'
